<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Check Deposit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
</head>
<body>

    <section>
        <header class="header">
            <a href="#" class="logo">Money Brain <img src="{% static 'images/caraniumLog.png'%}" alt="Logo" class="logo-image"></a>
    
            <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
    
            <nav class="navbar" id="navbar">
                <a href="{% url 'eco_info' %}" style="--i:1">Eco Payments</a>
                <a href="{% url 'payout' %}" style="--i:2">Payout AZA</a>
                <a href="{% url 'payout_form' %}" style="--i:5">Payout PayPal</a>
                <a href="{% url 'list_transactions'%}" style="--i:3">Transactions History</a>
                <a href="{% url 'account_information' %}" style="--i:4" class="active">Account</a>
    
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" id="user-menu">{{ user.username }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'logout' %}" id="logout-link">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" style="--i:5">Login</a>
                {% endif %}
            </nav>
        </header>
    </section>

        <p>

        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
    
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>

        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
    
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>

        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
    
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>

    <div class="moneygram-container">

        <section class="n-banner-g">
            <div class="notification-content">
                <p><i class="fas fa-info-circle" style="font-size: 1em; color: #ffffff;" title="Information"></i>
                    Cranium is a leading global provider of money transfer and payment services, 
                offering fast and secure international checkdeposits.</p>
            </div>
        </section>
        
                <h4>Mobile Check Deposit</h4>
                <form method="post" action="{% url 'check_deposit' %}" class="moneygram-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
    
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p class="message {{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
     </div>
    

        <div class="last-text-fot">
            <p>The Check Deposit feature in the Cranium app provides a convenient way for users to deposit checks directly into their Cranium account using their mobile device or computer. </p>
            <p>This feature allows users to streamline their banking activities by eliminating the need to visit a physical bank branch.</p>
            <p><span class="span-m">&copy; {{ current_year }} Cranium. All rights reserved.</span></p>
        </div>

        <script>
            function toggleMenu() {
                var navbar = document.getElementById("navbar");
                if (navbar.classList.contains("show")) {
                    navbar.classList.remove("show");
                } else {
                    navbar.classList.add("show");
                }
            }
    
        </script>
</body>
</html>
