<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Cranium</a>

        <nav class="navbar">
            <a href="{% url 'transfer'%}" style="--i:1">Make Payments</a>
            <a href="{% url 'payout'%}" style="--i:2">Payout Options</a>
            <a href="#" style="--i:3">Transactions History</a>
            <a href="#" style="--i:4">Account</a>
            <a href="{% url 'logout'%}" style="--i:5">Logout</a>
        </nav>
    </header>

    <section class="login-container">
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <button type="submit">Log in</button>
            </form>
            <div class="link">
                <a href="{% url 'register' %}">Don't have an account? Register</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <p>Cranium Money Transfer - Secure, Fast, and Reliable Currency Transfers Worldwide.</p>
            <p>For assistance, contact our support team at <a href="mailto:support@cranium.com">support@cranium.com</a> or call us at +123-456-7890.</p>
        </div>
    </footer>
</body>
</html>
